
<div style="text-align: center">
  <button onclick="addUser()">
      Login as a User</button>
  <button onclick="addAdmin()">
      Login as a Admin</button>
</div>

<script>
  function addUser() {
      var userDetails = { id: 2, user_name: "naresh",role:"USER" }
      localStorage.setItem("LOGGED_IN_USER", JSON.stringify(userDetails));
      window.location.href = "mytasks";
  }

  function addAdmin() {
      var userDetails = { id: 2, user_name: "Admin",role:"ADMIN" }
      localStorage.setItem("LOGGED_IN_USER", JSON.stringify(userDetails));
      window.location.href = "tasks";
  }


</script>
